@(context:com.mnt.core.helper.SearchContext,_menuContext: com.mnt.core.menu.MenuBar,user : models.merchant.Merchant)

@main("Report Section") {
@menuContext(_menuContext,user)

	<script>
	var customerloadingelement;
	var redeemloadingelement;
		$(document).ready(function(){
			
			customerloadingelement = $('#customerload');
			redeemloadingelement = $('#redeemload');
			//Fill Visit-view 
			$.ajax({
				url: '/getVisitData',
				datatype: 'json',
				type: 'POST',
				success: function(data){
					var d1 = [];
						
					var object = $.parseJSON(data);
					var count =0;
					
					for (var i = 0; i < object.length; i += 1) {
						object[i].date = (new Date(object[i].date)).getTime();
						
						d1.push([object[i].date,object[i].count]);
						count += object[i].count;
						plotLineBarGraph("visitsPlaceholder", d1);
					}
					$("#visitsNumber").html(count);
				}
			});
			
			//Fill Point-view 
			$.ajax({
				url: '/getPointData',
				datatype: 'json',
				type: 'POST',
				success: function(data){
					var d1 = [];
						
					var object = $.parseJSON(data);
					var count =0;
					
					for (var i = 0; i < object.length; i += 1) {
						object[i].date = (new Date(object[i].date)).getTime();
						
						d1.push([object[i].date,object[i].count]);
						count += object[i].count;
						plotLineBarGraph("salesPlaceholder", d1);
					}
					$("#salesNumber").html(count);
				}
			});
			
			//Fill Stamp-view 
			$.ajax({
				url: '/getStampsData',
				datatype: 'json',
				type: 'POST',
				success: function(data){
					var d1 = [];
						
					var object = $.parseJSON(data);
					var count =0;
					
					for (var i = 0; i < object.length; i += 1) {
						object[i].date = (new Date(object[i].date)).getTime();
						
						d1.push([object[i].date,object[i].count]);
						count += object[i].count;
						plotLineBarGraph("stampsPlaceholder", d1);
					}
					$("#stampsNumber").html(count);
				}
			});
			
			//Common Function for plotting bar graph 
			function plotLineBarGraph(id, d){
				var stack = 0,
				bars = true,
				lines = false,
				steps = false;
				
				$.plot("#"+id, [d], {
					series: {
						stack: stack,
						lines: {
							show: lines,
							fill: true,
							steps: steps
						},
						bars: {
							show: bars,
							barWidth: 0.6
						},
					},
					xaxis: {
					    mode: "time",
					    timeformat: "%d-%m",
					    tickFormatter: blankFormatter,
					},
				    yaxis: {
						min: 0,
						tickFormatter: blankFormatter,
					},
					legend: {
						show: true,
					    position: 'se'
					},
					grid: {
						hoverable: true, 
						clickable: true 
					}
                       
			 });
		}
		function blankFormatter(v, xaxis) {
			return " ";
		}
			
		//Show Details of Visit Section 
		$('#visitDetails').click(function(){
			$('#fromdate').val('');
			$('#todate').val('');
			$.ajax({
				url: '/visitProgramHealth',
				datatype: 'json',
				type: 'POST',
				success: function(data){
					var object = $.parseJSON(data);
					$('#programhealthplaceholder').html('');
					$('#salesModalLabel').html('');
					plotWithOptions("programhealthplaceholder", object);
					$('#salesModalLabel').html('Visits Health');
					$('#showGraph').attr('context','visits');
					$("#reportDetailModal").modal('show');
				}
			})
		})
		
		
		//Show Details of Points Section 
		$('#pointDetails').click(function(){
			$('#fromdate').val('');
			$('#todate').val('');
			$.ajax({
				url: '/pointProgramHealth',
				datatype: 'json',
				type: 'POST',
				beforeSend: function() {
					$("#reportDetailModal").modal('hide');
				},
				success: function(data){
					var object = $.parseJSON(data);
					var chart = plotWithOptions("programhealthplaceholder", object);
					chart.setupGrid();
					chart.draw();
					$("#reportDetailModal").modal('show');
					$('#salesModalLabel').html('Points Health');
					$('#showGraph').attr('context','points');
				}
			})
		})
		
		//Show Details of Stamps Section 
		$('#stampsDetails').click(function(){
			$('#fromdate').val('');
			$('#todate').val('');
			$.ajax({
				url: '/stampProgramHealth',
				datatype: 'json',
				type: 'POST',
				success: function(data){
					var object = $.parseJSON(data);
					$('#programhealthplaceholder').html('');
					$('#salesModalLabel').html('');
					plotWithOptions("programhealthplaceholder", object);
					$('#salesModalLabel').html('Stamp Health');
					$('#showGraph').attr('context','stamps');
					$("#reportDetailModal").modal('show');
				}
			})
		})
		
		$("body").on('click','#showGraph', function(){
			var context = $(this).attr('context');
			if(context == 'stamps'){
				$.ajax({
					url: '/stampProgramHealth',
					datatype: 'json',
					beforeSend: function(){
						var from = $('#fromdate').val();
						var to = $('#todate').val();
						
						if(from != '' && to != ''){
							return true;
						}
						alert("Please select both dates");
						return false;
					},
					type: 'POST',
					data:{
						fromdate : $('#fromdate').val(),
						todate : $('#todate').val() 
					},
					success: function(data){
						var object = $.parseJSON(data);
						$('#programhealthplaceholder').html('');
						$('#salesModalLabel').html('');
						plotWithOptions("programhealthplaceholder", object);
						$('#salesModalLabel').html('Stamp Health');
						$("#reportDetailModal").modal('show');
					}
				})
			}//end if(context=='stamps') 
				
			else if(context == 'points'){
				$.ajax({
					url: '/pointProgramHealth',
					datatype: 'json',
					beforeSend: function(){
						var from = $('#fromdate').val();
						var to = $('#todate').val();
						
						if(from != '' && to != ''){
							return true;
						}
						alert("Please select both dates");
						return false;
					},
					type: 'POST',
					data:{
						fromdate : $('#fromdate').val(),
						todate : $('#todate').val() 
					},
					success: function(data){
						var object = $.parseJSON(data);
						$('#programhealthplaceholder').html('');
						$('#salesModalLabel').html('');
						plotWithOptions("programhealthplaceholder", object);
						$('#salesModalLabel').html('Points Health');
						$("#reportDetailModal").modal('show');
					}
				})
			}//end of else if(context="points")
			
			else if(context == 'visits'){
				$.ajax({
					url: '/visitProgramHealth',
					datatype: 'json',
					beforeSend: function(){
						var from = $('#fromdate').val();
						var to = $('#todate').val();
						
						if(from != '' && to != ''){
							return true;
						}
						alert("Please select both dates");
						return false;
					},
					type: 'POST',
					data:{
						fromdate : $('#fromdate').val(),
						todate : $('#todate').val() 
					},
					success: function(data){
						var object = $.parseJSON(data);
						$('#programhealthplaceholder').html('');
						$('#salesModalLabel').html('');
						plotWithOptions("programhealthplaceholder", object);
						$('#salesModalLabel').html('Visits Health');
						$("#reportDetailModal").modal('show');
					}
				})
			}//end of else if(context="visits")
		});		
		//show Redeem Graph 
		$.ajax({
			url: '/getRedeemData',
			datatype: 'json',
			type: 'POST',
			beforeSend: function(){
				$('#redeemPlaceholder').block({
					message : redeemloadingelement
				})
			},
			success: function(data){
				var object = $.parseJSON(data);
				plotWithOptions("redeemPlaceholder", object);
			}
		})
			
		$('#redeemed').click(function(){
			$.ajax({
				url: '/getRedeemData',
				datatype: 'json',
				beforeSend: function(){
					
					$('#redeemPlaceholder').block({
						message : redeemloadingelement
					})
					
					var from = $('#redeemFromdate').val();
					var to = $('#redeemTodate').val();
					
					if(from != '' && to != ''){
						return true;
					}
					alert("Please select both dates");
					return false;
				},
				data:{
					fromdate : $('#redeemFromdate').val(),
					todate : $('#redeemTodate').val() 
				},
				type: 'POST',
				success: function(data){
					
					var object = $.parseJSON(data);
					plotWithOptions("redeemPlaceholder", object);
				}
			})
		})
		
		//show Customer Graph 
		$.ajax({
			url: '/getCustomerData',
			datatype: 'json',
			type: 'POST',
			beforeSend: function(){
				$('#customerPlaceholder').block({
					message : customerloadingelement
				})
			},
			success: function(data){
				var object = $.parseJSON(data);
				plotWithOptions("customerPlaceholder", object);
			}
		})
		
		$('#customerEnrolled').click(function(){
			$.ajax({
				url: '/getCustomerData',
				datatype: 'json',
				beforeSend: function(){
					$('#customerPlaceholder').block({
						message : customerloadingelement
					})
					
					var from = $('#enrollFromdate').val();
					var to = $('#enrollTodate').val();
					
					if(from != '' && to != ''){
						return true;
					}
					alert("Please select both dates");
					return false;
				},
				data:{
					fromdate : $('#enrollFromdate').val(),
					todate : $('#enrollTodate').val() 
				},
				type: 'POST',
				success: function(data){
					var object = $.parseJSON(data);
					plotWithOptions("customerPlaceholder", object);
				}
			})
		})
		
		function plotWithOptions(id, d) {
			var chart = $.plot("#"+id, d, {
					series: {
						lines: {show: true},
						points: {show: true,fill:false}
					},
					xaxis: {
					    mode: "time",
					    timeformat: "%d-%m",
					    tickColor: "green",
					    tickSize: [1, "day"],
					    autoscaleMargin : 0.02
					},
				    yaxis: {
				    	mode:"number",
						min: 0,
						tickDecimals: 0,
						tickColor: "green"
					},
					legend: {
						show: true,
					    position: 'se',
					    container: $("#legend")
					},
					
					grid: {
						backgroundColor: "#62C462",
						hoverable: true, 
						clickable: true ,
					}
				});
					
				$("#"+id).bind("plothover", function (event, pos, item) {
					if (item) {
			           $("#tooltip").remove();
				       var x =moment(item.datapoint[0].valueOf()).format("DD-MM"),
			               y = item.datapoint[1].toFixed(2);
				           showTooltip(item.pageX, item.pageY," " + x + " / " + y);
					}
				    else {
			           $("#tooltip").remove();
			        }
				});
				
				return chart;
			}
		
			function showTooltip(x, y, contents) {
			    $('<div id="tooltip">' + contents + '</div>').css( {
			        position: 'absolute',
			        display: 'none',
			        top: y + 5,
			        left: x + 5,
			        border: '1px solid #fdd',
			        padding: '2px',
			        'background-color': '#fee',
			        'z-index' : '6000',
			        opacity: 0.80
			     }).appendTo("body").fadeIn(200);
			}
			
			$( ".fromdate" ).datepicker({
				format: "dd-mm-yyyy" 
			});
			$( ".todate" ).datepicker({
				format: "dd-mm-yyyy" 
			});
	});
</script>

	<div id="redeemload" class="loading" style='position:relative;display:none;
    		z-index:2000;'>
    	<img alt="imageload" src='@routes.Assets.at("images/loading.gif")'>
    </div>

	<div id="customerload" class="loading" style='position:relative;display:none;
    		z-index:2000;'>
    	<img alt="imageload" src='@routes.Assets.at("images/loading.gif")'>
    </div>

	<div class="row-fluid rowDiv">
		<div class="span3 statbox purple" ontablet="span6" ondesktop="span3">
			
			<div id="stats-chart2" style="height: 70px; width: 90px;">
				<div class="demo-container" style="padding: 0px;">
					<div id="visitsPlaceholder" class="demo-placeholder"></div>
				</div>
			</div>
			
			<div class="number" style="float: right;width: 40%;">
				<span id="visitsNumber"></span>
				<div class="title" style="float: right;font-size: 20px;margin-top: 5%;">visits</div>
			</div>
			
			<div class="footerDiv">
				<a id="visitDetails" href="#" role="button" class="btn btn-warning" data-toggle="modal" > read full report</a>
			</div>
		</div>
		
		<div class="span3 statbox green" ontablet="span6" ondesktop="span3">
			
			<div id="stats-chart2" style="height: 70px; width: 90px;">
				<div class="demo-container" style="padding: 0px;">
					<div id="salesPlaceholder" class="demo-placeholder"></div>
				</div>
			</div>
			
			<div class="number" style="float: right;width: 50%;">
				<span id="salesNumber"></span>
				<div class="title" style="float: right;font-size: 20px;margin-top: 5%;">Points</div>
			</div>
			
			<div class="footerDiv">
				<a id="pointDetails" href="#" role="button" class="btn btn-warning" data-toggle="modal" > read full report</a>
			</div>

		</div>
		
		<div class="span3 statbox yellow" ontablet="span6" ondesktop="span3">
			
			<div id="stats-chart2" style="height: 70px; width: 90px;">
				<div class="demo-container" style="padding: 0px;">
					<div id="stampsPlaceholder" class="demo-placeholder"></div>
				</div>
			</div>
			
			<div class="number" style="float: right;width: 50%;">
				<span id="stampsNumber"></span>
				<div class="title" style="float: right;font-size: 20px;margin-top: 5%;">Stamps</div>
			</div>
			
			<div class="footerDiv">
				<a id="stampsDetails" href="#" role="button" class="btn btn-warning" data-toggle="modal" > read full report</a>
			</div>

		</div>
	
	<!-- START Modal For Showing Details -->
	<div id="reportDetailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="salesModalLabel" aria-hidden="true"  style="width:auto;height:auto">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				<h3 id="salesModalLabel">Points Report</h3>
			</div>
			<div class="modal-body">
			<div class="widget blue span8" ontablet="span7" ondesktop="span8" style="width:800px;height:400px">
				<div style="padding-top: 10px;">
					<span class="offset1 label label-warning">FROM DATE</span>
					<input type="text" id="fromdate" class="input input-small fromdate" readonly="readonly">
					<span class="label label-warning offset1">TO DATE</span>
					<input type="text" id="todate" class="input input-small todate" readonly="readonly">
					<button class="btn btn-success btn-small" id="showGraph" context="">Go</button>
				
				</div>
				
				<div id="stats-chart2"
					style="width:800px;height:400px">
					<div class="demo-container" style="width:800px;height:400px; margin: 10px;">
						<div id="programhealthplaceholder" class="demo-placeholder" style="float:left; width:600px;height:300px"></div>
						<div id="legend" style="float: right;display: block;"></div>
					</div>
					
				</div>
				
			</div>
		</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
	</div>
	
	<!-- END Modal For Showing Details -->
	
	
</div>
	
	
<div class="row-fluid rowDiv">
	<div class="widget blue span6 offset0" ontablet="span7" ondesktop="span6">
		<h3 class="offset1 warning">Redeemed</h3>
		
		<span class="offset1 label label-warning">FROM DATE</span>
		<input type="text" id="redeemFromdate" class="input input-small fromdate" readonly="readonly">
		<span class="label label-warning offset1">TO DATE</span>
		<input type="text" id="redeemTodate" class="input input-small todate" readonly="readonly">
		<button id="redeemed" class="btn btn-success btn-small">Go</button>
		
		<div id="stats-chart2" style="height: 282px; padding: 0px; position: relative;">
			<div class="demo-container">
				<div id="redeemPlaceholder" class="demo-placeholder"></div>
			</div>
		</div>
		
	</div>
	
	<div class="widget blue span6 offset0" ontablet="span7" ondesktop="span6">
		<h3 class="offset1 warning">Customer Enrolled</h3>
		
		<span class="offset1 label label-warning">FROM DATE</span>
		<input type="text" id="enrollFromdate" class="input input-small fromdate" readonly="readonly">
		<span class="label label-warning offset1">TO DATE</span>
		<input type="text" id="enrollTodate" class="input input-small todate" readonly="readonly">
		<button id="customerEnrolled" class="btn btn-success btn-small">Go</button>
		
		<div id="stats-chart2" style="height: 282px; padding: 0px; position: relative;">
			<div class="demo-container">
				<div id="customerPlaceholder" class="demo-placeholder"></div>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid rowDiv">
	<div class="widget blue span6 offset0" ontablet="span7" ondesktop="span6">
		<div id="stats-chart2" style="height: 282px; padding: 0px; position: relative;">
			<div class="demo-container">
				<div id="placeholder1" class="demo-placeholder"></div>
			</div>
		</div>
	</div>
	
	<div class="widget blue span6 offset0" ontablet="span7" ondesktop="span6">
		<div id="stats-chart2" style="height: 282px; padding: 0px; position: relative;">
			<div class="demo-container">
				<div id="placeholder2" class="demo-placeholder"></div>
			</div>
		</div>
	</div>
</div>
	
}
