<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnt.mintloyalty.merchant.candy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
     <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mnt.mintloyalty.merchant.candy.LoginActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.mnt.mintloyalty.merchant.candy.SplashScreen"> </activity>
         <activity android:name="com.mnt.mintloyalty.merchant.candy.ProgramsActivity"> </activity>
         <activity android:name="com.mnt.mintloyalty.merchant.candy.PointActivity"> </activity>
         <activity android:name="com.mnt.mintloyalty.merchant.candy.StampActivity"> </activity>
    </application>

</manifest>